:root {
    --light-theme-foreground: rgba(34, 38, 42, 1);
    --light-theme-background: rgba(239, 240, 242, 1);
    --light-theme-hover: rgba(64, 68, 73, 0.6);
    --default-theme-dark-color: rgba(34, 38, 42, 1);
    --default-theme-more-darker-color: rgba(0, 0, 0, 1);
    --default-theme-less-darker-color: rgba(34, 38, 42, 0.5);
    --default-theme-light-color: rgba(176, 184, 191, 1);
    --default-theme-more-brighter-color: rgba(255, 255, 255, 1);
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

h1,
h2,
h3,
h4 {
    margin-bottom: .5rem
}

#mainNav .navbar-brand,
body,
h1,
h2,
h3,
h4,
header,
html,
nav,
section {
    font-family: Montserrat, sans-serif
}

h1,
h2,
h3,
h4,
ol,
p,
ul {
    margin-top: 0
}

/* Navbar style  */

#mainNav {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--default-theme-dark-color);
    transition: background-color .2s
}

#mainNav.navbar-scrolled {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .55);
    background-color: var(--default-theme-dark-color)
}

.color-default-theme-light-color {
    color: var(--default-theme-light-color)
}

/* ---------------default-theme--------------- */

#mainNav .navbar-nav .nav-item .nav-link {
    color: var(--default-theme-light-color);
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: .9rem;
    padding: .75rem 0
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover,
.color-default-theme-light-color:hover {
    color: var(--default-theme-more-brighter-color)
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link.active,
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: var(--default-theme-more-brighter-color)
}

/* ------------ light theme ------------ */

.light-theme.color-default-theme-light-color {
    color: var(--light-theme-foreground)
}

.light-theme#mainNav {
    background-color: var(--light-theme-background)
}

#mainNav .navbar-nav .nav-item .light-theme.nav-link {
    color: var(--light-theme-foreground)
}

#mainNav .navbar-nav .nav-item .light-theme.nav-link.active,
#mainNav .navbar-nav .nav-item .light-theme.nav-link:hover,
.light-theme.color-default-theme-light-color:hover {
    color: var(--light-theme-hover)
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .light-theme.nav-link {
    color: var(--light-theme-foreground)
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .light-theme.nav-link.active,
#mainNav.navbar-scrolled .navbar-nav .nav-item .light-theme.nav-link:hover {
    color: var(--light-theme-hover)
}

/* ------------ end ------------ */

button,
input {
    overflow: visible
}

button#toggling-switch {
    background: transparent;
    border: none
}

ol,
p,
ul {
    margin-bottom: 1rem
}

.icon-github:hover,
.icon-linkedin:hover,
.icon-mail4:hover {
    color: var(--default-theme-more-darker-color)
}

.light-theme.icon-github:hover,
.light-theme.icon-linkedin:hover,
.light-theme.icon-mail4:hover,
.light-theme.icon-moon:hover {
    color: var(--light-theme-hover)
}

.certifications-page-heading,
.skills-page-heading {
    color: var(--default-theme-dark-color);
    margin-bottom: 1.5rem
}

.light-theme.certifications-page-heading,
.light-theme.skills-page-heading {
    color: var(--light-theme-foreground)
}

.btn,
.nav-tabs .nav-link.disabled,
a {
    background-color: transparent
}

.nav,
.navbar-nav {
    margin-bottom: 0
}

.btn,
.btn-group,
.navbar-toggler-icon,
img {
    vertical-align: middle
}

.btn-group,
.btn-group>.btn,
.carousel,
.carousel-inner,
.carousel-item,
.navbar,
.timeline {
    position: relative
}

#skills ul li,
.nav,
.navbar-nav {
    list-style: none
}

*,
.value-bar,
::after,
::before {
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.btn,
body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active,
.nav-link,
.tab-content>.active,
header,
nav,
section {
    display: block
}

.page-section {
    padding: 6rem 0;
    background: var(--default-theme-light-color);
    overflow: hidden
}

.page-section.light-theme {
    background: var(--light-theme-background)
}

body {
    margin: 0;
    text-align: left
}

a {
    text-decoration: none
}

a.light-theme {
    color: var(--light-theme-foreground)
}

a:hover {
    text-decoration: none
}

.btn:hover,
.certi-canvas,
.certi-content>a,
.nav-link:focus,
.nav-link:hover,
.navbar-brand:focus,
.navbar-brand:hover,
.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}


img {
    border-style: none
}

table {
    border-collapse: collapse;
    margin: 0 auto
}

table tr td {
    padding: 1rem
}

.contect-section-title,
table tr td a {
    color: var(--default-theme-dark-color)
}

button {
    border-radius: 0;
    text-transform: none
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.btn:not(:disabled):not(.disabled),
[role=button],
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button],
[type=submit],
button {
    -webkit-appearance: button
}

textarea {
    overflow: auto;
    resize: vertical
}

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1.2
}

h1 {
    font-size: 2.75rem
}

h2 {
    font-size: 2.15rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1.15rem
}

h3.contect-section-title {
    font-size: 2.15rem
}

#status {
    font-size: 2rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-10,
.col-lg-4,
.col-lg-8,
.col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.btn {
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.btn:focus {
    outline: 0
}

.btn {
    background-color: var(--default-theme-light-color);
    color: var(--default-theme-dark-color)
}

.btn:hover {
    background-color: var(--default-theme-dark-color);
    color: var(--default-theme-light-color)
}

.light-theme.btn {
    color: var(--light-theme-foreground);
    background-color: var(--light-theme-background)
}

.light-theme.btn:hover {
    color: var(--light-theme-background);
    background-color: var(--light-theme-foreground)
}

.collapse:not(.show),
.tab-content>.tab-pane {
    display: none
}

.nav,
.navbar {
    display: flex;
    flex-wrap: wrap
}

.nav-link,
.navbar {
    padding: .5rem 1rem
}

.navbar {
    align-items: center;
    justify-content: space-between
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: none
}

.light-theme.navbar-toggler {
    background-color: var(--light-theme-background)
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    content: "";
    background: center center/100% 100% no-repeat
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28167,176,184, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .light-theme.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2864,68,73, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.date,
div.timeline-content .icon-github:hover {
    color: var(--default-theme-more-brighter-color)
}

div.timeline-content .light-theme.icon-github:hover {
    color: var(--light-theme-hover)
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: .5s
}

@media (prefers-reduced-motion:reduce) {

    .btn,
    .carousel-control-next,
    .carousel-control-prev,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right,
    .carousel-indicators li,
    .carousel-item {
        transition: none
    }
}

.anim.animated,
.anima.animated,
.carousel-indicators .active,
.certi-content:hover .certi-content-overlay {
    opacity: 1
}

.bg-primary {
    background-color: var(--default-theme-dark-color)
}

.light-theme.bg-primary {
    background-color: var(--light-theme-background)
}

.justify-content-center {
    justify-content: center
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.btn-xl,
.btn-xl-ii {
    border-radius: 10rem;
    border: 1px solid var(--default-theme-dark-color)
}

.h-100 {
    height: 100%
}

.mt-0 {
    margin-top: 0
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-4 {
    margin-top: 1.5rem
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.ml-auto {
    margin-left: auto
}

.text-center {
    text-align: center
}

.text-uppercase {
    text-transform: uppercase
}

.font-weight-bold {
    font-weight: 700
}

.btn-xl,
.btn-xl-ii,
.btn-xl-iii,
.btn-xl-iv {
    padding-top: .8rem;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    text-transform: uppercase
}

body,
html {
    width: 100%;
    height: 100%
}

.btn-xl-ii {
    width: 7rem
}

@media (min-width:1201px) {
    .responsiveness {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        height: 380px
    }

    .homepage-i {
        width: 35%;
        margin: auto;
        padding-left: 8rem
    }

    .homepage-ii {
        width: 62%;
        padding-right: 14rem
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .responsiveness {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        height: 380px
    }

    .homepage-i {
        width: 30%;
        padding-left: 3rem;
        margin: auto
    }

    .homepage-ii {
        width: 60%;
        padding-left: 5.5rem;
        padding-right: 5.5rem
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .responsiveness {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        height: 380px
    }

    .homepage-i {
        width: 25%;
        padding-left: 3rem;
        margin: auto
    }

    .homepage-ii {
        width: 75%;
        padding-left: 5.5rem;
        padding-right: 5.5rem
    }
}

@media (min-width:481px) and (max-width:768px) {
    .responsiveness {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        height: 420px
    }

    .homepage-i {
        width: 90%;
        margin: auto
    }

    .homepage-ii {
        width: 90%
    }
}

@media (min-width:0px) and (max-width:480px) {
    .responsiveness {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        height: 630px
    }

    .homepage-i {
        width: 90%;
        margin: auto
    }

    .homepage-ii {
        width: 90%
    }
}

#skills ul li,
.date,
.icon {
    display: inline-block
}

#skills ul li {
    margin: 7px;
    padding: 5px 10px;
    background: var(--default-theme-light-color);
    cursor: default;
    font-size: 1.2em;
    border-radius: 3px
}

#skills ul li:hover {
    animation: .75s zoom-in-zoom-out
}

@keyframes zoom-in-zoom-out {

    0%,
    100% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.15, 1.15)
    }
}

#skills ul li.concept-library-framework {
    color: var(--default-theme-dark-color);
    background: linear-gradient(to bottom, #757b81 -5%, #b0b8bf 100%);
    box-shadow: 0 2px 6px .5px rgba(0, 0, 0, 0.25);
    font-weight: 1.2em
}

#skills ul li.light-theme.concept-library-framework {
    color: var(--light-theme-foreground);
    background: var(--light-theme-background);
    box-shadow: 2px 2.5px 6.5px 1px rgba(0, 0, 0, 0.8)
}

.certi-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto auto 2rem;
    overflow: hidden
}

.certi-content .certi-content-overlay {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.certi-content .light-theme.certi-content-overlay {
    background: rgba(255, 255, 255, .75)
}

.certi-canvas {
    height: 250px;
    text-align: center;
    background: linear-gradient(to bottom, #757b81 -5%, var(--default-theme-light-color) 100%);
    padding-top: 2rem
}

.light-theme.certi-canvas {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.001))
}

.certi-canvas>h4 {
    color: var(--default-theme-dark-color)
}

.light-theme.certi-canvas>h4 {
    color: var(--light-theme-foreground)
}

.certi-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.container form input,
.container form textarea {
    width: 100%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0;
    font-size: 18px;
    background: 0 0;
    transition: .4s ease-in-out;
    color: var(--default-theme-dark-color);
    box-shadow: 0 7px 20px -6px rgba(0, 0, 0, 0.65);
    font-weight: 700
}

.container form input.light-theme,
.container form textarea.light-theme {
    color: var(--light-theme-foreground)
}

.certi-content:hover .certi-content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.fadeIn-bottom {
    top: 80%
}

.container form input {
    border-radius: 5px
}

.container form textarea {
    resize: none;
    border-radius: 5px
}

.container form input:focus,
.container form textarea:focus {
    outline: 0;
    border: 0
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .contact-container {
        width: 90%
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }

    .contact-container {
        width: 80%
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }

    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-lg-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .navbar-expand-lg>.container-lg,
    .navbar-expand-lg>.container-md,
    .navbar-expand-lg>.container-sm,
    .navbar-expand-lg>.container-xl {
        flex-wrap: nowrap
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    #mainNav {
        box-shadow: none;
        background-color: transparent
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 0 1rem
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0
    }

    .my-lg-0 {
        margin-top: 0;
        margin-bottom: 0
    }

    .contact-container {
        width: 70%
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }

    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start
    }

    .navbar-expand-xl .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid,
    .navbar-expand-xl>.container-lg,
    .navbar-expand-xl>.container-md,
    .navbar-expand-xl>.container-sm,
    .navbar-expand-xl>.container-xl {
        flex-wrap: nowrap
    }

    .navbar-expand-xl .navbar-collapse {
        display: flex;
        flex-basis: auto
    }

    .navbar-expand-xl .navbar-toggler {
        display: none
    }

    .contact-container {
        width: 60%
    }
}

#status {
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    margin: 2rem auto
}

#status.success {
    color: green;
    animation: 4s forwards status
}

#status.error {
    color: red;
    animation: 4s forwards status
}

::placeholder {
    color: var(--default-theme-less-darker-color);
    opacity: 1
}

.light-theme::placeholder {
    color: var(--light-theme-hover)
}

:-ms-input-placeholder {
    color: var(--default-theme-less-darker-color)
}

.light-theme:-ms-input-placeholder {
    color: var(--light-theme-hover)
}

::-ms-input-placeholder {
    color: var(--default-theme-less-darker-color)
}

.light-theme::-ms-input-placeholder {
    color: var(--light-theme-hover)
}

.timeline::before {
    content: "";
    background: var(--default-theme-light-color);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.light-theme.timeline::before {
    background: var(--light-theme-foreground)
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px
}

.timeline-item:nth-child(2n) .timeline-content {
    float: right;
    padding: 40px 30px 10px
}

.timeline-item:nth-child(2n) .timeline-content .date {
    right: auto;
    left: 0
}

.timeline-item:nth-child(2n) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--default-theme-light-color) transparent transparent
}

.timeline-item:nth-child(2n) .light-theme.timeline-content::after {
    border-color: transparent var(--light-theme-foreground) transparent transparent
}

.timeline-item::after {
    content: "";
    display: block;
    clear: both
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: 0 0;
    box-shadow: 0 25px 25px -15px rgba(0, 0, 0, .8)
}

.light-theme.timeline-content {
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.80)
}

.timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent var(--default-theme-light-color)
}

.light-theme.timeline-content::after {
    border-color: transparent transparent transparent var(--light-theme-foreground)
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: var(--default-theme-dark-color);
    border-radius: 50%;
    position: absolute;
    border: 5px solid var(--default-theme-light-color);
    left: 50%;
    margin-top: 25px;
    margin-left: -15px
}

.light-theme.timeline-img {
    width: 20px;
    height: 20px;
    border: 13px solid var(--light-theme-foreground);
    margin-left: -12.3px
}

.date {
    background: linear-gradient(to bottom, #2b3035 -10%, #1a1d20 100%);
    border-radius: 3px;
    padding: 6px;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--default-theme-light-color)
}

.light-theme.date {
    background: transparent;
    color: var(--light-theme-foreground);
}

@media screen and (max-width:768px) {

    .timeline .timeline-img,
    .timeline::before {
        left: 50px
    }

    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px
    }

    .timeline .timeline-item:nth-child(2n) .timeline-content {
        float: none
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent var(--default-theme-light-color) transparent transparent
    }

    .timeline .timeline-item:nth-child(odd) .light-theme.timeline-content::after {
        border-color: transparent var(--light-theme-foreground) transparent transparent
    }
}


.anim,
.anima {
    opacity: 0
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.animated.fadeInLeft {
    animation-name: fadeInLeft
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.animated.fadeInRight {
    animation-name: fadeInRight
}

footer {
    background-color: var(--default-theme-light-color);
    color: var(--default-theme-dark-color);
    font-size: .83rem;
    padding-bottom: .35rem
}

footer.light-theme {
    background-color: var(--light-theme-background);
    color: var(--light-theme-foreground)
}

.certi-content-text,
.certi-content-title {
    color: var(--default-theme-light-color)
}

.light-theme.certi-content-text,
.light-theme.certi-content-title {
    color: var(--light-theme-foreground)
}

.mt-15 {
    margin-top: 15px
}

.profile-pic {
    width: 5rem
}

.portfolio-title {
    color: var(--default-theme-light-color);
    font-size: 1.2rem;
    margin-left: .35rem;
    margin-top: 1.2rem
}

.light-theme.portfolio-title {
    color: var(--light-theme-foreground)
}

.portfolio-title-secondary {
    color: var(--default-theme-light-color);
    font-size: 1rem;
    margin-left: .35rem;
    margin-top: .5rem
}

.light-theme.portfolio-title-secondary {
    color: var(--light-theme-foreground)
}

.portfolio-title>span {
    font-size: 1.8rem
}

.title-page-content {
    color: var(--default-theme-light-color);
    word-spacing: 1.5px;
    text-align: justify;
    font-size: 1.05rem;
    font-weight: 550
}

.light-theme.title-page-content {
    color: var(--light-theme-foreground)
}

.certi-content-title {
    font-size: 2rem
}

.certi-thumbnail-size-mitx {
    width: 200;
    height: 48
}

.certi-thumbnail-size-dl {
    width: 150;
    height: 95
}

.certi-thumbnail-size-stanford {
    width: 150;
    height: 85
}

.projects-page-heading,
.timeline-content-description {
    color: var(--default-theme-light-color)
}

.light-theme.projects-page-heading,
.light-theme.timeline-content-description {
    color: var(--light-theme-foreground)
}

.timeline-content-title {
    color: var(--default-theme-light-color);
    padding-top: 30px;
    font-size: 1.5rem
}

.timeline-content-link {
    color: var(--default-theme-light-color);
    font-size: .75rem
}

.contact-section {
    color: var(--default-theme-dark-color);
    padding: 8rem 0;
    background: var(--default-theme-light-color)
}

.light-theme.timeline-content-title {
    color: var(--light-theme-foreground)
}

.light-theme.timeline-content-link {
    color: var(--light-theme-foreground)
}

.light-theme.contact-section {
    background: var(--light-theme-background)
}

.light-theme.contact-section h3 {
    color: var(--light-theme-foreground)
}

.contact-form-text-alignment {
    text-align: left
}

.contact-form-label {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--default-theme-dark-color);
    margin-left: 10px
}

.light-theme.contact-form-label {
    color: var(--light-theme-foreground)
}

.contact-form-input-field {
    margin-top: .25rem;
    margin-bottom: 3rem
}

.contact-form-submit-button {
    border-radius: 7px;
    padding-top: 0;
    box-shadow: 0 2px 6px .5px rgba(0, 0, 0, 0.85);
    border: 0
}

.icon {
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.icon-download3,
.icon-github,
.icon-mail4 {
    width: 3rem;
    height: 3rem
}

.icon-linkedin {
    width: 3rem;
    height: 3rem;
    border-radius: 50%
}

div.timeline-content .icon-github {
    width: 1.5rem;
    height: 1.5rem
}

.icon-compass,
.icon-home {
    width: 1.35rem;
    height: 1.35rem
}

.icon-compass {
    padding-top: 7px
}

.icon-embed2 {
    width: 5rem;
    height: 5rem;
    margin-bottom: -20px;
    color: var(--default-theme-light-color)
}

.light-theme.icon-embed2 {
    color: var(--light-theme-foreground)
}

.icon-sun {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    stroke-width: 0.2px
}

.light-theme .icon-sun {
    display: none
}

.icon-moon {
    display: none
}

.light-theme .icon-moon {
    display: inline;
    width: 1.25rem;
    height: 1.25rem
}